@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
}
.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    /* border: 1px solid black; */
    /* background-image: url('../resources/ust.jpg');
    background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat;  
    height: 100vh;
    width: 100%; */
}

.heading{
    margin-top: 2rem;
    /* margin-bottom: 3rem; */
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 25rem;
    width: 45%;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    font-family: pop;
    background-image: url('../resources/home.png');

    background-size: cover; 
     background-position: center; 
     background-repeat: no-repeat; 
     box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

     font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: normal;
}
.heading h2{
    padding: 10px;
    margin: 10px;
    text-align: justify;
    font-family: "Inknut Antiqua", serif;
    font-weight: 300;
    font-style: normal;

}